.container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100%;
  width: 100%;

  overflow: hidden;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--squareSize));
  grid-template-rows: repeat(var(--rows), var(--squareSize));
}

.dotWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--squareSize);
  height: var(--squareSize);
  border: 1px solid white;
  transition: opacity 0.3s;

  .dot {
    height: calc(var(--squareSize) / 5);
    width: calc(var(--squareSize) / 5);
    background-color: white;
    border-radius: 100%;
  }
}
