.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6fr;

  width: 100%;
  height: calc(100vh - 25px);

  margin-top: 25px;
}

.sectionHeaderBanner {
  grid-column: 1 / 3;
  grid-row: 0 / 2;

  box-sizing: border-box;

  margin: 25px 0;
  padding: 20px;

  background-color: var(--color, red);

  text-align: center;

  font-size: 30px;

  transform: skew(1deg, -1deg);
}

.sectionContent {
  box-sizing: border-box;

  margin: 5px 0;
  padding: 40px 50px;
  font-size: 20px;

  text-align: justify;

  max-height: 100%;

  overflow-y: scroll;

  a {
    color: var(--color, blue);
    text-decoration: underline;
  }
}

.sectionImage {
  position: relative;

  margin: 0 25px;
  height: 100%;

  img {
    object-fit: cover;
    border-radius: 15px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
  .sectionHeaderBanner {
    position: relative;
    display: block;
    transform: none;
    margin-top: 45px;
    padding: 5px;

    z-index: 2;
  }
  .sectionContent {
    height: 100%;
    width: 100%;
  }
  .sectionImage {
    display: none;
  }
}
